<div>
  <form>
    <label for="codigo">Codigo:</label>
    <input id="codigo" [(ngModel)]="codigo" name="codigo">
    <button (click)="buscarCliente()">BUSCAR</button>
    <br>
    <label for="nombre">Nombre:</label>
    <input id="nombre" [(ngModel)]="nombre" name="nombre" readonly>
    <br>

    <label for="tipo">Tipo:</label>
    <select id="tipo" [(ngModel)]="clienteTipo" name="clienteTipo">
      <option value="Recurrente">Recurrente</option>
      <option value="Nuevo">Nuevo</option>
    </select>
    <button (click)="guardarCliente()">GUARDAR</button>
  </form>
  <p *ngIf="alertGuardado">{{ alertGuardado }}</p>
</div>
  