<mat-card>
    <form>
        <div class="inline-form">
            <mat-form-field appearance="fill">
                <mat-label>Código</mat-label>
                <input matInput id="codigo" [(ngModel)]="codigo" name="codigo">
            </mat-form-field>

            <button mat-flat-button color="primary" (click)="buscarCliente()">BUSCAR</button>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input [disabled]=true matInput id="nombre" [(ngModel)]="nombre" name="nombre" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Tipo</mat-label>
            <mat-select id="tipo" [(ngModel)]="clienteTipo" name="clienteTipo" (selectionChange)="handleChange()"
                [disabled]="clienteTipo === 'Recurrente'">
                <mat-option value="Recurrente">Recurrente</mat-option>
                <mat-option value="Nuevo" *ngIf="clienteTipo !== 'Recurrente'">Nuevo</mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="ventaKeys.length > 0">
            <h6>Ventas</h6>
            <div *ngFor="let key of muestraVentas">
                <mat-form-field appearance="fill">
                    <mat-label>{{ key }}</mat-label>
                    <input matInput [(ngModel)]="ventas[key]" name="venta-{{key}}" (ngModelChange)="actPromedio()">
                </mat-form-field>
            </div>

            <h6>Promedio</h6>
            <mat-form-field appearance="fill">
                <input [disabled]=true matInput id="promedio" [(ngModel)]="promedio" name="promedio" readonly>
            </mat-form-field>

            <button mat-flat-button extended (click)="guardarCliente()">GUARDAR</button>
        </div>
    </form>

    <p *ngIf="alertGuardado">{{ alertGuardado }}</p>
</mat-card>